<div class="carousel-wrapper" >
  <div class="carousel" >
    <img class="carousel__photo initial" src="https://source.unsplash.com/nvzvOPQW0gc/800x533">
    <img class="carousel__photo" src="https://source.unsplash.com/EbuaKnSm8Zw/800x533">
    <img class="carousel__photo" src="https://source.unsplash.com/VkwRmha1_tI/800x533">
    <img class="carousel__photo" src="https://source.unsplash.com/mCg0ZgD7BgU/800x533">
    
      
    <div class="carousel__button--next" (click)="moveNext()"></div>
    <div class="carousel__button--prev" (click)="movePrev()"></div>
  </div>
  
</div>
<div style="text-align:center"> 
  <span class="dot" (click)=" current()" ></span>  
  <span class="dot" (click)=" current()" ></span>  
  <span class="dot" (click)=" current()" ></span>
  <span class="dot" (click)=" current()" ></span>
  
</div> 
